# Ігноруємо результати збірки та компіляції (ОБОВ'ЯЗКОВО)
build/
.cmake/
lab6_bin

# Ігноруємо тимчасові файли системи та IDE
.vscode/
.idea/
*.swp
.DS_Store

# НЕ ігноруємо відео та моделі, оскільки вони потрібні для запуску програми викладачем!
# Тому рядки з *.mp4, *.prototxt чи *.caffemodel сюди писати НЕ треба.
